<div class="social-links">
  <a class="social-link" href="https://github.com/elbecita" target="_blank" rel="noopener">
    <i class="fab fa-lg fa-github"></i>
  </a>
  <a class="social-link" href="https://www.twitter.com/elbecita" target="_blank" rel="noopener">
    <i class="fab fa-lg fa-twitter"></i>
  </a>
  <a class="social-link" href="https://www.linkedin.com/in/elbecita/" target="_blank" rel="noopener">
    <i class="fab fa-lg fa-linkedin"></i>
  </a>
  <a class="social-link" href="https://stackoverflow.com/users/4067893/elbecita" target="_blank" rel="noopener">
    <i class="fab fa-lg fa-stack-overflow"></i>
  </a>
</div>