:root {
  /* Colours */
  --darkgrey: #0D1F2D; /* dark gunmetal */
  --midgrey: #738a94;
  --lightgrey: #c5d2d9;
  --whitegrey: #e5eff5;
  --pink: #FFB8D1; /* cotton candy */
  --blue: #9BFFF0; /* waterspout */
  --light-purple: #BC9EC1; /* pastel purple */
  --light-pink: #FBD5DF; /* pale pink */
}